<html>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login Here {{name}}</h1>
            <form [formGroup]=" loginForm">
                <div class="input-group">
                    <label for="userName">Username</label>
                    <input  formControlName="userName"  type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input  formControlName="password"  type="password" id="password" name="password" required>
                </div>
               
                <button (click)="onSubmit()"   type="submit" class="btn">Login</button>
                <p class="register-link">Don't have an account? <a href="#">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>
